@model Login
@{
    Login curUser = Context.Session.GetObject<Login>("Al_lecturer");
    Layout = ViewData["layout"] as string;
    string msg = ViewData["msg"] as string;
    Layout = "_Layout";


}

<p> logged in as</p>
@if (curUser != null)
            {
   @curUser.Name
    <div> as </div>
    @if (curUser.type == 0)
    {
       <p>AI lecture</p>

    }
    else
    {
        <p>Admin</p>

    }
 }
else
{ 
 <p> not logged in</p>
}