@model Login
@{
    Layout = ViewData["layout"] as string;
    string msg = ViewData["msg"] as string;
    Layout = "_Layout";

}
<p><h3><b>Generate Excel</b></h3></p>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
        <input type="button" class="btn-btn-primary" value="ExportCSV" />
    </div>
</div>
