@model Login
@{
    Layout = ViewData["layout"] as string;
    string msg = ViewData["msg"] as string;
    Layout = "_Layout";

}
<p><h3>Invigilation Timeslot</h3></p>
<table class="table table-bordered">
    <thead>
        <th>Module Code</th>
        <th>School/centre of Module</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>MSA Venue</th>
    </thead>
</table>