@model Login
@{
    Layout = ViewData["layout"] as string;
    string msg = ViewData["msg"] as string;
    Layout = "_Layout";

}
<p>Time slot</p>
<table class="table table-bordered">
    <thead>
        <td>#</td>
        <td>School</td>
        <td>time</td>
        <td>Name</td>
    </thead>
</table>